*{
	box-sizing: border-box;
}

html, body{
	margin: 0;
	padding: 0;
	letter-spacing: 1.5px;
	--overflow: hidden;

}
html{
	background: url("bg.png")no-repeat;
}

.header{
	display:flex;
	width:auto;
	height: 100vh;
	align-items: center;
	justify-content: center;
}
.header>.login-section{
	width: 300px;
	height: 400px;
	padding: 1rem;
	border-radius: 1rem;
	border: 1px solid #d456ef;
	backdrop-filter: blur(2px);
}
.login-section>.form{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.form>.input-box{
	position: relative;
	width: 100%;
	padding: .2rem 0; 
	border-bottom: 2px solid;
	margin-bottom: 1rem;
}
.form>.button-box{
	width: 100%;
	margin-bottom: 1rem;
}
.input-box>input{
	width: 100%;
	background: transparent;
	box-shadow: none;
	outline: none;
	border: none;
	font-size: 1rem;
}

.input-box>label{
	position: absolute;
	top: 50%;
	left: 2px;
	transform: translateY(-50%);
}

input:focus ~ label{
	top:-5px;
}
input:valid ~ label{
	top:-5px;
}

.button-box>.login-button{
	width: 100%;
	height: 40px;
	border-radius: 40px;
	border: none;
	font-weight: 600;
	background: #d456ef;
	color: #fff;
}

.button-box>.login-button:hover{
	background: #b948d1;
}

span{
	line-height: 1.5;
}

