<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Mangata and Gallo</title>
	<link rel="stylesheet" type="text/css" href="asset/css/main.css">
</head>
<body>
	<header class="header">
		<img src="asset/image/Asset 2@3x.png" title="Logo" class="logo" />
	</header>
	<nav class="navbar">
		<ul class="menu">
			<li class="item">
				<a href="#">Home</a>
			</li>
			<li class="item">
				<a href="#">Best Sellers</a>
			</li>
			<li class="item">
				<a href="#">Products</a>
			</li>
			<li class="item">
				<a href="#">About</a>
			</li>
		</ul>
	</nav>
	<main class="main">
		<section class="section">
			<img src="asset/image/banner-01.png"/>
			<span class="overlayer"></span>
			<article class="promo-banner hide" >
				<header>
					<h2>75% OFF TODAY</h2>
				</header>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
			</article>
		</section>
		<section class="section">
			<article>
				<header><h2>TITLE</h2></header>
				<img src="asset/image/2.png"/>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				</p>
				<span>
					<a href="#">read more</a>
				</span>
			</article>
			<article>
				<header><h2>TITLE</h2></header>
				<img src="asset/image/4.png"/>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				</p>
			</article>
			<article>
				<header><h2>TITLE</h2></header>
				<img src="asset/image/3.png"/>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				</p>
			</article>
		</section>
	</main>

	<footer class="footer">
		<section class="section">
			<img src="asset/image/Asset 4@3x.png" title="Logo" class="logo" />
		</section>
		<section class="section copyright">
			&#169;Mangata and Gallo
		</section>
	</footer>
</body>
</html>